#prevBtn {
    float: left;
}

#nextBtn {
    float: right;
}

#cardActionBar {
    height: 45px;
}

#marsImg {
    height: 335px;
    width: 500px;
}

mat-card {
    height: 500px;
    width: 500px;
}